html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


a {
    text-decoration: none;
}
.btn {
    padding: 0.7rem 1.5rem;
    border: 0.1rem solid #c9c9c9;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bold;
}


#envato-market {
    width: 100vw;
    height: 5vh;
    background-color: #252525;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}
#logo > img {
    height: 80%;
}
#logo > p  > span {
    font-size: 1rem;
    font-weight: bold;
}

#envato-market > a {
    color: #ffffff;
    background-color: #7db847;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-align: center;
    width: fit-content;
    margin-right: 1rem;
}


header {
    width: 100vw;
}
header > div {
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #013a01;
    color: white;
    font-size: 1rem;
    gap: 5vw;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav > div:nth-of-type(1) {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bokifa-logo {
    width: auto;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-left: 1rem;
}
#bokifa-logo > img {
    height: 50%;
}
#bokifa-logo > p {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #013a01;
    font-weight: bold;
}
form {
    width: auto;
    height: 50%;
    display: flex;
    gap: 0;
}
form > select {
    width: 10vw;
    font-size: 1rem;
    color: #afafaf;
    background-color: #f0f0f0;
    border: none;
    border-radius: 2rem 0 0 2rem;
    outline: 0;
    padding-left: 1rem;
}
form > select > option {
    font-size: 1rem;
    color: #afafaf;
    background-color: white;
}
form > input {
    background-color:  #f0f0f0;
    border: none;
    outline: none;
    width: 20vw;
    padding-left: 1rem;
}
form > input::placeholder {
    font-size: 1rem;
    color: #afafaf;
}
form > div {
    height: 100%;
    background-color: #f0f0f0;
    border-radius: 0 2rem 2rem 0;
}
form > div > button {
    height: 100%;
    background-color: black;
    border: none;
    color: white;
}
#eng-usd-line {
    width: auto;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}
#eng-usd-line > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
#eng-usd-line > div > p {
    font-size: 0.8rem;
    color: #afafaf;
}
#eng-usd-line > div > p:nth-of-type(1) {
    border-right: 0.1rem solid #f0f0f0;
    padding-right: 1rem;
}
#eng-usd-line > div > p > i {
    padding-left: 0.1rem;
}
#eng-usd-line > i {
    font-size: 1.2rem;
    color: #6d6d6d;
}

nav > div:nth-of-type(2) {
    width: 100%;
    height: 5vh;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.11rem solid #f0f0f0;
}
#nav-links {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 1rem;
}
#nav-links > a {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
}
#nav-links > a > i {
    font-size: 0.8rem;
    align-self: flex-start;
}
nav > div:nth-of-type(2) > p {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
nav > div:nth-of-type(2) > p > span {
    font-weight: bold;
    padding-left: 0.1rem;
}


main {
    width: 100vw;
}

#hero {
    width: 100%;
    height: 81vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90%;   
}

#hero-slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 400' preserveAspectRatio='none'%3E%3Crect width='800' height='400' fill='%23cce4f0'/%3E%3Cpath d='M240,400 C280,350 320,370 360,300 C400,230 440,250 480,180 C520,110 560,130 600,50 C640,-20 700,0 500,0 L800,0 L800,400 L0,400 Z' fill='%23f3dfa8'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-slide {
    display: none;
    text-align: center;
    margin: 0 1rem;
}
.hero-slide.active {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}
.hero-text > p:nth-of-type(1){
    font-size: 1rem;
    color: #11b9b9;
    font-weight: bold;
}
.hero-text > h1 {
    font-size: 3rem;
    text-align: start;
    color: #000000;
}
.hero-text > p:nth-of-type(2){
    font-size: 1rem;
    color: #000000;
}
.hero-text > a {
    color: #000000;
    font-size: 1rem;
    background-color: white;
    border: none;
}
.hero-text > a > i {
    color: #000000;
    font-size: 1rem;
    padding-left: 0.5rem;
}
.hero-offer {
    width: 13vw;
    height: 13vw;
    background-image: url('/assets/flower.svg');
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.hero-offer > p {
    width: 50%;
}

.hero-images {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-images > img:nth-of-type(1) {
    width: 25%;
}
.hero-images > img:nth-of-type(2) {
    width: 35%;
}
.hero-images > img:nth-of-type(3) {
    width: 30%;
}
.hero-dots {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
}
.dot {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: #ffffff;
}
.dot.active {
    background: #057705;
}

#hero-line {
    width: 100%;
    height: 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #f5efe3;
}
.ticker {
    width: 100%;
    overflow: hidden;
}
.ticker-track {
    display: flex;
    width: max-content;
    animation: ticker 25s linear infinite;
}
.ticker-track > span {
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
}
.highlight {
    color: #057705;
}
.flower {
    color: #ceb97f;
}

@keyframes ticker {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}


#weeks-highlights, #bestselling-books, #half-price-books {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}
.title-section > h2 {
    font-size: 2rem;
    color: #000000;
}
.title-section > a {
    color: #000000;
}

.books-lay {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 1rem;
}
.books-lay > div {
    width: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.image-section {
    position: relative;
    width: 100%;
    height: 100%;
}
.image-section img {
    width: 100%;
    border-radius: 1rem;
}
.discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 2rem;
}
.review {
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 0.5rem 0.8rem;
    white-space: nowrap
}
.review p {
    font-size: 0.8rem;
    font-weight: bold;
    color: #000000;
}
.review i {
    font-size: 0.8rem;
    color: #929292;
}
.review .star-fill {
    color: #dfb47c;
}
.book-title {
    width: 100%;
    height: 4rem;
    font-size: 1.1rem;
    text-align: center;
}
.author {
    font-size: 1rem;
    color: #929292;
    text-decoration: underline;
}
.book-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #057705;
}
.two-prices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.old-price {
    font-size: 1rem;
    text-decoration: line-through;
}


#top-categories {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: #f5efe3;
}
#cat-links{
    height: 35%;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}
#cat-links > a {
    width: 8%;
    height: 100%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;
    color: #000000;
    padding: 1rem 0.8rem;
    border: 0.1rem solid #c9c9c9;
    border-radius: 0.5rem;
}
#cat-links > a > img {
    width: 90%;
}
#cat-links > a > p {
    font-size: 1.1rem;
    color: #000000;
}


#fav-thriller-stories {
    width: 100%;
    height: 60vh;
}
#fav-thriller-stories > div {
    height: 80%;
    background-image: url("/assets/thriller-back.jpg");
    background-repeat: no-repeat;      
    background-position: center;      
    background-size: cover;  
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin: 0 1rem;
    padding-left: 10vh;
}
#fav-thriller-stories > div > div {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
#fav-thriller-stories > div > div > p:nth-of-type(1) {
    font-size: 0.8rem;
    color: #c1ff2f;
}
#fav-thriller-stories > div > div > h2 {
    font-size: 2rem;
    color: #ffffff;
}
#fav-thriller-stories > div > div > p:nth-of-type(2) {
    font-size: 1rem;
    color: #ffffff;    
}
#fav-thriller-stories > div > div > a {
    color: #000000;
    background-color: white;
}